HPKISignSampleCrypto/.vs/
HPKISignSampleCrypto/HPKISignSampleCrypto/Release/vc143.pdb
HPKISignSampleCrypto/x64/Debug/*
HPKISignSampleCrypto/HPKISignSampleCrypto/x64/*
HPKISignSampleCrypto/HPKISignSampleCrypto/Release/*
HPKISignSampleCrypto/Release/HPKISignSampleCrypto.pdb
HPKISignSampleCrypto/x64/Release/HPKISignSampleCrypto.pdb
